@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-base text-main-text;
    margin: 0;
    min-height: 100vh;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}